@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
}

.list-align-center {
  .mat-mdc-list-item {
    align-items: center !important;

    mat-icon[matListItemIcon] {
      margin-right: 24px !important;
    }
  }
}

.bold {
  font-weight: 700
}

[mat-subheader].bold {
  margin-top: 16px !important;
}
