<header class="header">
  <div class="container">
    <h1>Explore the Cities</h1>
    <p>Find and explore details about your favorite cities.</p>
  </div>
</header>

<main class="container">
  <div class="search-wrapper">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search...</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="searchControl" placeholder="e.g. Munich">
      <mat-hint>Try searching for cities, continents or even landmarks.</mat-hint>
    </mat-form-field>
  </div>

  <div class="cities-container">
    @for (city of cities(); track city.id)  {
      <app-city-card [city] ="city" />
    } @empty {
      <p>No cities are found.</p>
    }
  </div>
</main>


