<header class="header">
  <div class="container">
    <h1 id="page-title">Explore the Cities</h1>
    <p id="page-description">
      Find and explore details about your favorite cities.
    </p>
  </div>
</header>

<main class="container" aria-labelledby="page-title">
  <section class="search-wrapper" aria-labelledby="search-label">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search...</mat-label>
      <mat-icon matPrefix aria-hidden="true">search</mat-icon>
      <input
        matInput
        [formControl]="searchControl"
        placeholder="e.g. Munich"
        aria-describedby="search-hint"
      />
      <mat-hint id="search-hint"
        >Try searching for cities, countries or even landmarks.
      </mat-hint>
    </mat-form-field>
  </section>

  <div class="cities-container">
    @for (city of cities(); track city.id) {
      <app-city-card [city]="city" />
    } @empty {
      <p>No cities are found.</p>
    }
  </div>
</main>
